Repository nikhilxsunder/fedfred: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^conda-forge/meta\.yaml$
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: ^conda-forge/meta\.yaml$

  - repo: https://github.com/pycqa/pylint
    rev: v3.3.5
    hooks:
      - id: pylint
        exclude: |
          (?x)^(
              docs/.*|
              tests/.*|
              scripts/.*|
              examples/.*|
              .*\.md|
              .*\.rst
          )$
        args:
          [
            "--disable=E0401,R0902,R0913,R0917,R0914,R0912,R0904,R1705,C0103,R1710,C2801,C0415,R1720,R1711,R0915",
          ]

  - repo: local
    hooks:
      - id: sync-conda-recipe
        name: Sync conda recipe from pyproject.toml
        entry: python scripts/sync_conda_recipe.py
        language: python
        additional_dependencies: ["tomli>=2.0.1"]
        files: ^(pyproject\.toml|conda-recipe/meta\.yaml)$
        pass_filenames: false
        description: "Synchronizes conda-recipe/meta.yaml with pyproject.toml"

      - id: sync-conf-version
        name: Sync conf.py release with pyproject.toml version
        entry: python scripts/sync_conf_version.py
        language: python
        files: ^docs/source/conf\.py$
        stages: [pre-commit]
        additional_dependencies: ["toml"]

      - id: sync-about-version
        name: Sync __about__.py __version__ with pyproject.toml version
        entry: python scripts/sync_about_version.py
        language: python
        files: ^src/fedfred/__about__\.py$
        stages: [pre-commit]
        additional_dependencies: ["toml"]

      - id: sync-conda-recipe-version
        name: Sync conda-recipe/meta.yaml version with pyproject.toml
        entry: python scripts/sync_conda_forge_version.py
        language: python
        files: ^(pyproject\.toml|conda-recipe/meta\.yaml)$
        pass_filenames: false
        description: "Synchronizes the version in conda-recipe/meta.yaml with pyproject.toml"
        additional_dependencies: ["tomli"]

      - id: mypy-local
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: |
          (?x)^(
              docs/.*|
              tests/.*|
              scripts/.*|
              examples/.*|
              .*\.md|
              .*\.rst|
              src/fedfred/__init__.pyi
          )$
        args:
          [
            "--ignore-missing-imports",
            "--namespace-packages",
            "--explicit-package-bases",
          ]

      - id: tox
        name: Run tox
        entry: tox
        language: system
        pass_filenames: false
        always_run: true

Bump version to 2.0.1
  .github/workflows/main.yml
  conda-forge/meta.yaml
  conda-recipe/meta.yaml
  pyproject.toml
  src/fedfred/__about__.py
Due: sync-conda-recipe, sync-about-version, sync-conda-recipe-version, mypy-local

Bump version to 2.0.2
  conda-forge/meta.yaml
  conda-recipe/meta.yaml
  docs/source/conf.py
  pyproject.toml
  src/fedfred/__about__.py
Due: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

Bump version to 2.0.3
  .github/workflows/main.yml
  CHANGELOG.md
  conda-forge/meta.yaml
  conda-recipe/meta.yaml
  docs/source/conf.py
  pyproject.toml
  src/fedfred/__about__.py
Due: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

deploy: 4178d199ec2cb4c400cb73a6f26a4f72e2e95536
  _modules/fedfred/clients.html
  _modules/fedfred/helpers.html
  _modules/fedfred/objects.html
  _modules/index.html
  _static/documentation_options.js
  api/asyncapi.html
  api/asyncmapsapi.html
  api/fredapi.html
  api/helpers.html
  api/index.html
  api/mapsapi.html
  api/objects.html
  changelog.html
  code_of_conduct.html
  contributing.html
  examples/advanced_usage.html
  examples/basic_usage.html
  examples/data_visualization.html
  examples/index.html
  genindex.html
  index.html
  installation.html
  license.html
  py-modindex.html
  quickstart.html
  search.html
  searchindex.js
  security.html
Due: none

Bump version to 2.0.4
  .github/workflows/main.yml
  CHANGELOG.md
  conda-forge/meta.yaml
  conda-recipe/meta.yaml
  docs/source/conf.py
  pyproject.toml
  src/fedfred/__about__.py
Due: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

deploy: b00a316818962fef79bac0903440ca67804f0fcd
  _modules/fedfred/clients.html
  _modules/fedfred/helpers.html
  _modules/fedfred/objects.html
  _modules/index.html
  _static/documentation_options.js
  api/asyncapi.html
  api/asyncmapsapi.html
  api/fredapi.html
  api/helpers.html
  api/index.html
  api/mapsapi.html
  api/objects.html
  changelog.html
  code_of_conduct.html
  contributing.html
  examples/advanced_usage.html
  examples/basic_usage.html
  examples/data_visualization.html
  examples/index.html
  genindex.html
  index.html
  installation.html
  license.html
  py-modindex.html
  quickstart.html
  search.html
  searchindex.js
  security.html
Due: none

Bump version to 2.0.5
  conda-forge/meta.yaml
  conda-recipe/meta.yaml
  pyproject.toml
Due: sync-conda-recipe, sync-conda-recipe-version

Bump version to 2.0.6
  conda-forge/meta.yaml
  conda-recipe/meta.yaml
  docs/source/conf.py
  pyproject.toml
  src/fedfred/__about__.py
Due: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

Bump version to 2.0.6
  docs/source/conf.py
Due: sync-conf-version

deploy: 21e876f88af42acc61e752deafc1ba7eeca25393
  .buildinfo
  BingSiteAuth.xml
  _modules/fedfred/clients.html
  _modules/fedfred/helpers.html
  _modules/fedfred/objects.html
  _modules/index.html
  _static/documentation_options.js
  api/asyncapi.html
  api/asyncmapsapi.html
  api/fredapi.html
  api/helpers.html
  api/index.html
  api/mapsapi.html
  api/objects.html
  changelog.html
  code_of_conduct.html
  contributing.html
  examples/advanced_usage.html
  examples/basic_usage.html
  examples/data_visualization.html
  examples/index.html
  genindex.html
  index.html
  installation.html
  license.html
  py-modindex.html
  quickstart.html
  search.html
  security.html
Due: none

Bump version to 2.0.7
  .github/workflows/main.yml
  CHANGELOG.md
  conda-forge/meta.yaml
  conda-recipe/meta.yaml
  docs/source/conf.py
  pyproject.toml
  src/fedfred/__about__.py
Due: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

deploy: a9ef383ef4f52b8d4461785f84f41773677ae0d5
  _modules/fedfred/clients.html
  _modules/fedfred/helpers.html
  _modules/fedfred/objects.html
  _modules/index.html
  _static/documentation_options.js
  api/asyncapi.html
  api/asyncmapsapi.html
  api/fredapi.html
  api/helpers.html
  api/index.html
  api/mapsapi.html
  api/objects.html
  changelog.html
  code_of_conduct.html
  contributing.html
  examples/advanced_usage.html
  examples/basic_usage.html
  examples/data_visualization.html
  examples/index.html
  genindex.html
  index.html
  installation.html
  license.html
  py-modindex.html
  quickstart.html
  search.html
  searchindex.js
  security.html
Due: none

Bump version to 2.0.8
  .github/workflows/main.yml
  CHANGELOG.md
  conda-forge/meta.yaml
  conda-recipe/meta.yaml
  docs/source/conf.py
  pyproject.toml
  src/fedfred/__about__.py
Due: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

deploy: 6c00318b8455b129354e56d70f65a21e86fcede7
  _modules/fedfred/clients.html
  _modules/fedfred/helpers.html
  _modules/fedfred/objects.html
  _modules/index.html
  _static/documentation_options.js
  api/asyncapi.html
  api/asyncmapsapi.html
  api/fredapi.html
  api/helpers.html
  api/index.html
  api/mapsapi.html
  api/objects.html
  changelog.html
  code_of_conduct.html
  contributing.html
  examples/advanced_usage.html
  examples/basic_usage.html
  examples/data_visualization.html
  examples/index.html
  genindex.html
  index.html
  installation.html
  license.html
  py-modindex.html
  quickstart.html
  search.html
  searchindex.js
  security.html
Due: none

Bump version to 2.0.9
  .github/workflows/main.yml
  CHANGELOG.md
  conda-recipe/meta.yaml
  docs/source/_templates/layout.html
  docs/source/conf.py
  pyproject.toml
  src/fedfred/__about__.py
Due: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

deploy: ebc3a7f8ee89b14b30bf18cba33d6a5d915a356a
  _modules/fedfred/clients.html
  _modules/fedfred/helpers.html
  _modules/fedfred/objects.html
  _modules/index.html
  _static/documentation_options.js
  api/asyncapi.html
  api/asyncmapsapi.html
  api/fredapi.html
  api/helpers.html
  api/index.html
  api/mapsapi.html
  api/objects.html
  changelog.html
  code_of_conduct.html
  contributing.html
  examples/advanced_usage.html
  examples/basic_usage.html
  examples/data_visualization.html
  examples/index.html
  genindex.html
  index.html
  installation.html
  license.html
  py-modindex.html
  quickstart.html
  search.html
  searchindex.js
  security.html
Due: none

Update conf.py
  docs/source/conf.py
Due: sync-conf-version

deploy: 8a42a8574508f921e1ee79285dff55eb1d799702
  api/_autosummary/fedfred.helpers.FredHelpers.to_dd_gpd_gdf.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_dd_gpd_gdf_async.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_gpd_gdf.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_gpd_gdf_async.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df_async.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pl_st_gdf.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pl_st_gdf_async.html
  glossary.html
  resources/api_overview.html
Due: none

Update index.rst
  docs/source/index.rst
Due: none

deploy: ef8408163fe9e3c869ffe02506fc31d0a024a6e1
  _sources/index.rst.txt
  index.html
  searchindex.js
Due: none

deploy: 0a42c6a697a49f2c074933958f8ab7af63007f8a
  api/_autosummary/fedfred.helpers.FredHelpers.to_dd_gpd_gdf.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_dd_gpd_gdf_async.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_gpd_gdf.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_gpd_gdf_async.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pl_st_gdf.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pl_st_gdf_async.html
Due: none

Update README.md
  README.md
Due: none

Bump version to 2.1.1
  .pre-commit-config.yaml
  CHANGELOG.md
  conda-forge/meta.yaml
  conda-recipe/meta.yaml
  docs/source/conf.py
  poetry.lock
  pyproject.toml
  src/fedfred/__about__.py
  src/fedfred/clients.py
  src/fedfred/helpers.py
  tests/clients_test.py
  tests/helpers_property_based_test.py
  tests/helpers_test.py
  tests/objects_property_based_test.py
  tests/objects_test.py
Due: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

Update json_ld.js
  docs/source/_static/json_ld.js
Due: none
