Repository nikhilxsunder/fedfred: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

sync-conda-recipe:
  name: Sync conda recipe from pyproject.toml
  entry: python scripts/sync_conda_recipe.py
  language: python
  additional_dependencies:
  - tomli>=2.0.1
  pass_filenames: false
  description: Synchronizes conda-recipe/meta.yaml with pyproject.toml

sync-conf-version:
  name: Sync conf.py release with pyproject.toml version
  entry: python scripts/sync_conf_version.py
  language: python
  stages:
  - pre-commit
  additional_dependencies:
  - toml

sync-about-version:
  name: Sync __about__.py __version__ with pyproject.toml version
  entry: python scripts/sync_about_version.py
  language: python
  stages:
  - pre-commit
  additional_dependencies:
  - toml

sync-conda-recipe-version:
  name: Sync conda-recipe/meta.yaml version with pyproject.toml
  entry: python scripts/sync_conda_forge_version.py
  language: python
  pass_filenames: false
  description: Synchronizes the version in conda-recipe/meta.yaml with pyproject.toml
  additional_dependencies:
  - tomli

mypy-local:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --namespace-packages
  - --explicit-package-bases

Add CITATION.cff for fedfred software citation
  CITATION.cff
Due: none

Bump version to 2.1.5
  CHANGELOG.md
  CITATION.cff
  README.md
  conda-forge/meta.yaml
  conda-recipe/meta.yaml
  docs/source/conf.py
  pyproject.toml
  src/fedfred/__about__.py
Due: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

Add DOI badge and update citation DOI
  README.md
Due: none

Update citation details in CITATION.cff
  CITATION.cff
Due: none

Update citation title for fedfred software
  CITATION.cff
Due: none

Update PyPI package link from version 2.1.1 to 2.1.5
  README.md
Due: none

Bump version to 3.0.0
  .pre-commit-config.yaml
  CHANGELOG.md
  conda-forge/meta.yaml
  conda-recipe/meta.yaml
  docs/source/conf.py
  docs/source/resources/notes.rst
  pyproject.toml
  src/fedfred/__about__.py
  src/fedfred/__init__.py
  src/fedfred/clients.py
  src/fedfred/config.py
  src/fedfred/helpers.py
  src/fedfred/objects.py
  tests/clients_property_based_test.py
  tests/clients_test.py
  tests/config_test.py
  tests/helpers_property_based_test.py
  tests/helpers_test.py
  tests/objects_property_based_test.py
  tests/objects_test.py
Due: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

Update announcement link to point to new URL
  docs/source/conf.py
Due: sync-conf-version

Update badge links in README.md
  README.md
Due: none

Update method documentation for to_pd_series
  docs/source/resources/notes.rst
Due: none

deploy: 586403cfa8b7d49601a7a3ef3bc7e962f10d6c6f
  _sources/resources/notes.rst.txt
  resources/notes.html
Due: none

Update notes.rst
  docs/source/resources/notes.rst
Due: none

deploy: ed04a6942c20128d9e6fa76cfa21160b0332d5bf
  _sources/resources/notes.rst.txt
  resources/notes.html
Due: none

Update version and DOI in README.md
  README.md
Due: none

Update version and DOI in CITATION.cff
  CITATION.cff
Due: none

Update version number in README.md
  README.md
Due: none

deploy: 491cc8e0904facaaa1e62a631dc3983dc102e6bf
  installation/data_visualization.html
Due: none

Update and rename 1bf488999066430fb8b8b741dc2a3486.txt to 29979ea943cf4526830870100b86564a.txt
  docs/source/1bf488999066430fb8b8b741dc2a3486.txt
  docs/source/29979ea943cf4526830870100b86564a.txt
Due: none

Update html_extra_path and Socket URL in conf.py
  docs/source/conf.py
Due: sync-conf-version

deploy: 07d4cea18a00cf4bb79121409a97f16f79c37a66
  .buildinfo
  1bf488999066430fb8b8b741dc2a3486.txt
  api/_autosummary/fedfred.FredAPI.get_series_observations.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df_async.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_series.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pl_df_async.html
  glossary.html
  resources/api_overview.html
  resources/notes.html
Due: none

Integrate IndexNow notifications in CI workflow
  .github/workflows/docs.yml
Due: none

commit more version 4 progress
  CHANGELOG.md
  poetry.lock
  src/fedfred/__init__.py
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_compat.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_helpers.py
  src/fedfred/_core/_validators.py
  src/fedfred/clients/__init__.py
  src/fedfred/clients/alfred.py
  src/fedfred/clients/fraser.py
  src/fedfred/clients/fred.py
  src/fedfred/clients/geofred.py
  src/fedfred/exceptions/__init__.py
  src/fedfred/exceptions/base.py
  src/fedfred/exceptions/conversion.py
  src/fedfred/exceptions/validation.py
  src/fedfred/fred/clients.py
  src/fedfred/models/__init__.py
  src/fedfred/models/alfred.py
  src/fedfred/models/fraser.py
  src/fedfred/models/fred.py
  src/fedfred/models/geofred.py
  src/fedfred/settings.py
  src/fedfred/tools/converter_mappings.py
  src/fedfred/tools/converters.py
  src/fedfred/utils/__validators.py
  src/fedfred/utils/helpers.py
  src/fedfred/utils/maps.py
  tests/fred_test/clients_test.py
  tests/fred_test/objects_test.py
  tests/utils_test/config_test.py
  tests/utils_test/helpers_test.py
Due: mypy-local

version 4 progress
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_extractors.py
  src/fedfred/_core/_validators.py
  src/fedfred/clients/fraser.py
  src/fedfred/exceptions/__init__.py
  src/fedfred/exceptions/conversion.py
  src/fedfred/exceptions/dependencies.py
  src/fedfred/exceptions/extraction.py
  src/fedfred/exceptions/validation.py
  src/fedfred/tools/__init__.py
  src/fedfred/tools/_converter_mappings.py
  src/fedfred/tools/converters.py
  tests/utils_test/helpers_test.py
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

version 4 progress
  .github/workflows/reports.yml
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_extractors.py
  src/fedfred/_core/_validators.py
Due: mypy-local

add sonarqube config
  .github/workflows/reports.yml
  .github/workflows/sonarqube.yml
  sonar-project.properties
Due: none

add sonarqube config
  .github/workflows/reports.yml
  .github/workflows/sonar.yml
Due: none

add sonarqube config
  .github/workflows/sonar.yml
Due: none

add sonarqube config
  sonar-project.properties
Due: none

update transport and rate limit progress
  paper/paper.md
  poetry.lock
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_core/_rate_limit.py
  src/fedfred/_core/_transport.py
  src/fedfred/clients/fraser.py
  src/fedfred/clients/fred.py
  src/fedfred/exceptions/__init__.py
  src/fedfred/exceptions/parsing.py
  src/fedfred/settings.py
  tests/utils_test/helpers_test.py
Due: mypy-local

add sonar-issues
  .github/workflows/sonar-issues.yml
  src/fedfred/_core/_endpoints.py
Due: mypy-local

add sonar-issues
  .github/workflows/sonar-issues.yml
Due: none

core layer prog
  .github/workflows/sonar-issues.yml
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_transport.py
  src/fedfred/clients/fred.py
Due: mypy-local

Path conditions:
  sync-conda-recipe: any of: ^(pyproject\.toml|conda-recipe/meta\.yaml)$
  sync-conf-version: any of: ^docs/source/conf\.py$
  sync-about-version: any of: ^src/fedfred/__about__\.py$
  sync-conda-recipe-version: any of: ^(pyproject\.toml|conda-recipe/meta\.yaml)$
  mypy-local: any of: \.py$, but not: (?x)^(
    docs/.*|
    tests/.*|
    scripts/.*|
    examples/.*|
    .*\.md|
    .*\.rst|
    src/fedfred/__init__.pyi
)$

