Repository nikhilxsunder/fedfred: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

sync-conda-recipe:
  name: Sync conda recipe from pyproject.toml
  entry: python scripts/sync_conda_recipe.py
  language: python
  additional_dependencies:
  - tomli>=2.0.1
  pass_filenames: false
  description: Synchronizes conda-recipe/meta.yaml with pyproject.toml

sync-conf-version:
  name: Sync conf.py release with pyproject.toml version
  entry: python scripts/sync_conf_version.py
  language: python
  stages:
  - pre-commit
  additional_dependencies:
  - toml

sync-about-version:
  name: Sync __about__.py __version__ with pyproject.toml version
  entry: python scripts/sync_about_version.py
  language: python
  stages:
  - pre-commit
  additional_dependencies:
  - toml

sync-conda-recipe-version:
  name: Sync conda-recipe/meta.yaml version with pyproject.toml
  entry: python scripts/sync_conda_forge_version.py
  language: python
  pass_filenames: false
  description: Synchronizes the version in conda-recipe/meta.yaml with pyproject.toml
  additional_dependencies:
  - tomli

mypy-local:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --namespace-packages
  - --explicit-package-bases

arch diagram
  paper/figures/fedfred-architecture.jpg
  src/fedfred/_core/__init__.py
Due: mypy-local

update docstring progress v4
  paper/figures/fedfred-architecture.jpg
  paper/paper.md
  src/fedfred/_core/_converters.py
  src/fedfred/clients/geofred.py
  src/fedfred/tools/converters.py
Due: mypy-local

update docstring progress v4
  poetry.lock
  tests/fred_test/clients_test.py
Due: none

update docstring progress v4
  src/fedfred/_core/_converters.py
Due: mypy-local

finished converters and parsers are finished for fred api
  paper/scaffold.md
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_core/_validators.py
Due: mypy-local

converter logic fix
  src/fedfred/_core/_converters.py
Due: mypy-local

_validators.py docstring progress
  pyproject.toml
  src/fedfred/_core/_validators.py
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

finished validators docstrings
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_core/_validators.py
Due: mypy-local

deploy: e1fa53239a3e14151edb807d5182962a825baaed
  api/_autosummary/fedfred.FredAPI.get_series_observations.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df_async.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_series.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pl_df_async.html
  glossary.html
  resources/api_overview.html
  resources/notes.html
Due: none

rate limiter finished
  src/fedfred/_core/_rate_limit.py
  src/fedfred/_core/_transport.py
  src/fedfred/exceptions/__init__.py
  src/fedfred/exceptions/rate_limit.py
  src/fedfred/exceptions/transport.py
Due: mypy-local

finished transport layer
  poetry.lock
  pyproject.toml
  src/fedfred/_core/_caching.py
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_transport.py
  src/fedfred/_core/_validators.py
  src/fedfred/exceptions/transport.py
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

Fix formatting of BibTeX citation in README
  README.md
Due: none

deploy: 737782b11f01ab5d8939faff8efcb19d777a962e
  api/_autosummary/fedfred.FredAPI.get_series_observations.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df_async.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_series.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pl_df_async.html
  glossary.html
  resources/api_overview.html
  resources/notes.html
Due: none

commit rate limit prog, docstrings unfinished
  poetry.lock
  src/fedfred/_core/_caching.py
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_rate_limit.py
  src/fedfred/_core/_transport.py
  src/fedfred/clients/fraser.py
  src/fedfred/clients/fred.py
  src/fedfred/exceptions/__init__.py
  src/fedfred/exceptions/base.py
  src/fedfred/exceptions/conversion.py
  src/fedfred/exceptions/dependencies.py
  src/fedfred/exceptions/endpoints.py
  src/fedfred/exceptions/parsing.py
  src/fedfred/exceptions/rate_limit.py
  src/fedfred/exceptions/transport.py
  src/fedfred/exceptions/validation.py
Due: mypy-local

finished transport and rate limit
  poetry.lock
  src/fedfred/_core/_caching.py
  src/fedfred/_core/_logging.py
  src/fedfred/_core/_rate_limit.py
  src/fedfred/_core/_transport.py
  src/fedfred/exceptions/rate_limit.py
  src/fedfred/exceptions/transport.py
Due: mypy-local

caching logic finished, still needs docstrings
  src/fedfred/_core/_caching.py
  src/fedfred/_core/_transport.py
  src/fedfred/clients/fred.py
  src/fedfred/exceptions/caching.py
  src/fedfred/exceptions/fred.py
Due: mypy-local

fix poetry.lock and update prettiness
  poetry.lock
  src/fedfred/_core/_caching.py
Due: mypy-local

fix poetry.lock and update prettiness
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_transport.py
Due: mypy-local

logging and caching progress
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_caching.py
  src/fedfred/_core/_logging.py
  src/fedfred/clients/fred.py
  src/fedfred/exceptions/__init__.py
  src/fedfred/exceptions/caching.py
Due: mypy-local

ditch logging, core logic finished, need _caching.py docstrings
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_caching.py
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_logging.py
  src/fedfred/clients/fred.py
  src/fedfred/exceptions/caching.py
Due: mypy-local

core finished
  src/fedfred/_core/_caching.py
Due: mypy-local

add new logos and fred.py prog
  docs/source/_static/fedfred-logo.png
  docs/source/_static/fedfred_banner.jpg
  docs/source/_static/fedfred_logo.jpg
  poetry.lock
  src/fedfred/clients/fred.py
Due: mypy-local

switch logos to png
  docs/source/_static/fedfred_banner.jpg
  docs/source/_static/fedfred_banner.png
  docs/source/_static/fedfred_logo.jpg
  docs/source/_static/fedfred_logo.png
Due: none

readme progress
  README.md
Due: none

progress on fred surface
  .pre-commit-config.yaml
  README.md
  src/fedfred/_core/_caching.py
  src/fedfred/_core/_compat.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_normalizers.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_core/_rate_limit.py
  src/fedfred/_core/_transport.py
  src/fedfred/_core/_validators.py
  src/fedfred/clients/fred.py
Due: mypy-local

push fred client progress
  poetry.lock
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_compat.py
  src/fedfred/_core/_converters.py
  src/fedfred/clients/fred.py
Due: mypy-local

_core finished
  poetry.lock
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_caching.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_parameters.py
  src/fedfred/_core/_rate_limit.py
  src/fedfred/_core/_transport.py
  src/fedfred/_core/_validators.py
  src/fedfred/clients/fred.py
Due: mypy-local

commit prog
  .github/workflows/sonar.yml
  sonar-project.properties
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_caching.py
  src/fedfred/_core/_parameters.py
  src/fedfred/_core/_transport.py
  src/fedfred/clients/fred.py
  src/fedfred/exceptions/__init__.py
  src/fedfred/exceptions/parameters.py
Due: mypy-local

update media
  docs/source/_static/fedfred_logo.png
  logos/exported/fedfred_banner.png
  logos/exported/fedfred_favicon.ico
  logos/exported/fedfred_icon.png
  logos/fedfred_banner.pxd
  logos/fedfred_icon copy.pxd
  src/fedfred/clients/fred.py
Due: mypy-local

update prg
  docs/source/_static/fedfred_banner.png
  docs/source/_static/fedfred_favicon.ico
  docs/source/_static/fedfred_icon.png
  docs/source/_static/fedfred_logo.png
  logos/exported/fedfred_banner.png
  logos/exported/fedfred_icon.png
  logos/exported/fedfred_logo.png
  logos/fedfred_banner.pxd
  logos/fedfred_icon copy.pxd
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_compat.py
  src/fedfred/clients/fred.py
Due: mypy-local

deploy: 1d4eae39119cea6b15dc47c3e254d94d24e6919e
  installation/data_visualization.html
Due: none

push prog fred client
  src/fedfred/clients/fred.py
Due: mypy-local

public surface fred classes rough fin
  poetry.lock
  pyproject.toml
  src/fedfred/_core/__init__.py
  src/fedfred/clients/fred.py
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

geofred surface rough cleanup
  logos/exported/fedfred_social_preview.png
  logos/fedfred_social_preview.pxd
  poetry.lock
  pyproject.toml
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_converters.py
  src/fedfred/clients/fred.py
  src/fedfred/clients/geofred.py
  src/fedfred/models/__init__.py
  src/fedfred/settings.py
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

alfred progress
  README.md
  poetry.lock
  src/fedfred/__init__.py
  src/fedfred/clients/__init__.py
  src/fedfred/clients/alfred.py
  src/fedfred/clients/geofred.py
  src/fedfred/settings.py
Due: mypy-local

push doc prog
  CHANGELOG.md
  CITATION.cff
  ROADMAP.md
  src/fedfred/models/alfred.py
Due: mypy-local

deploy: 0b16797bdf46f9b838a37b9d773d2b665c3762fc
  api/_autosummary/fedfred.FredAPI.get_series_observations.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df_async.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_series.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pl_df_async.html
  glossary.html
  resources/api_overview.html
  resources/notes.html
Due: none

push assets directory
  assets/exported/fedfred_banner.png
  assets/exported/fedfred_favicon.ico
  assets/exported/fedfred_logo.png
  assets/exported/fedfred_social_preview.png
  assets/source/fedfred_banner.pxd
  assets/source/fedfred_icon.pxd
  assets/source/fedfred_social_preview.pxd
Due: none

migrate from poetry to uv
  .github/workflows/analyze.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/reports.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  uv.lock
Due: sync-conda-recipe, sync-conda-recipe-version

Path conditions:
  sync-conda-recipe: any of: ^(pyproject\.toml|conda-recipe/meta\.yaml)$
  sync-conf-version: any of: ^docs/source/conf\.py$
  sync-about-version: any of: ^src/fedfred/__about__\.py$
  sync-conda-recipe-version: any of: ^(pyproject\.toml|conda-recipe/meta\.yaml)$
  mypy-local: any of: \.py$, but not: (?x)^(
    docs/.*|
    tests/.*|
    scripts/.*|
    examples/.*|
    .*\.md|
    .*\.rst|
    src/fedfred/__init__.pyi
)$

