Repository nikhilxsunder/fedfred: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^conda-forge/meta\.yaml$
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: ^conda-forge/meta\.yaml$

  - repo: https://github.com/pycqa/pylint
    rev: v3.3.5
    hooks:
      - id: pylint
        exclude: |
          (?x)^(
              docs/.*|
              tests/.*|
              scripts/.*|
              examples/.*|
              .*\.md|
              .*\.rst
          )$
        args:
          [
            "--disable=E0401,R0902,R0913,R0917,R0914,R0912,R0904,R1705,C0103,R1710,C2801,C0415,R1720,R1711,R0915,W0603,R0911",
          ]

  - repo: local
    hooks:
      - id: sync-conda-recipe
        name: Sync conda recipe from pyproject.toml
        entry: python scripts/sync_conda_recipe.py
        language: python
        additional_dependencies: ["tomli>=2.0.1"]
        files: ^(pyproject\.toml|conda-recipe/meta\.yaml)$
        pass_filenames: false
        description: "Synchronizes conda-recipe/meta.yaml with pyproject.toml"

      - id: sync-conf-version
        name: Sync conf.py release with pyproject.toml version
        entry: python scripts/sync_conf_version.py
        language: python
        files: ^docs/source/conf\.py$
        stages: [pre-commit]
        additional_dependencies: ["toml"]

      - id: sync-about-version
        name: Sync __about__.py __version__ with pyproject.toml version
        entry: python scripts/sync_about_version.py
        language: python
        files: ^src/fedfred/__about__\.py$
        stages: [pre-commit]
        additional_dependencies: ["toml"]

      - id: sync-conda-recipe-version
        name: Sync conda-recipe/meta.yaml version with pyproject.toml
        entry: python scripts/sync_conda_forge_version.py
        language: python
        files: ^(pyproject\.toml|conda-recipe/meta\.yaml)$
        pass_filenames: false
        description: "Synchronizes the version in conda-recipe/meta.yaml with pyproject.toml"
        additional_dependencies: ["tomli"]

      - id: mypy-local
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: |
          (?x)^(
              docs/.*|
              tests/.*|
              scripts/.*|
              examples/.*|
              .*\.md|
              .*\.rst|
              src/fedfred/__init__.pyi
          )$
        args:
          [
            "--ignore-missing-imports",
            "--namespace-packages",
            "--explicit-package-bases",
          ]
#      - id: tox
#        name: Run tox
#        entry: tox
#        language: system
#        pass_filenames: false
#        always_run: true

split internals and core
  .github/workflows/analyze.yml
  .github/workflows/docs.yml
  .github/workflows/reports.yml
  .github/workflows/test.yml
  .python-version
  pyproject.toml
  src/fedfred/_core/_compat.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_internals/__init__.py
  src/fedfred/_internals/_caching.py
  src/fedfred/_internals/_rate_limit.py
  src/fedfred/_internals/_transport.py
  src/fedfred/clients/alfred.py
  src/fedfred/clients/fred.py
  src/fedfred/models/alfred.py
  src/fedfred/models/fred.py
  src/fedfred/settings.py
  tests/_deprecated_test.py
  tests/alfred_test/clients_test.py
  tests/fraser_test/clients_test.py
  tests/fraser_test/objects_test.py
  tests/fred_test/clients_test.py
  tests/fred_test/objects_test.py
  tests/utils_test/__validators_test.py
  tests/utils_test/config_test.py
  tests/utils_test/helpers_test.py
  tests/utils_test/maps_test.py
  tox.ini
  uv.lock
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

client/models abstraction
  .coverage 2
  src/fedfred/__init__.py
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_internals/__init__.py
  src/fedfred/_internals/_clients.py
  src/fedfred/_internals/_models.py
  src/fedfred/_internals/_transport.py
  src/fedfred/clients/alfred.py
  src/fedfred/clients/fraser.py
  src/fedfred/clients/fred.py
  src/fedfred/clients/geofred.py
  src/fedfred/models/fred.py
Due: mypy-local

remove alfred dunders
  src/fedfred/clients/alfred.py
Due: mypy-local

models progress
  src/fedfred/_core/__init__.py
  src/fedfred/_internals/__init__.py
  src/fedfred/_internals/_clients.py
  src/fedfred/_internals/_models.py
  src/fedfred/exceptions/clients.py
  src/fedfred/exceptions/models.py
  src/fedfred/models/fred.py
Due: mypy-local

more models progress
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_internals/_models.py
  src/fedfred/models/fred.py
Due: mypy-local

date model internal and public progress
  .coverage 2
  .gitignore
  src/fedfred/_internals/__init__.py
  src/fedfred/_internals/_models.py
  src/fedfred/models/alfred.py
  src/fedfred/models/fred.py
Due: mypy-local

push prog
  .github/workflows/analyze.yml
  .github/workflows/reports.yml
  .gitignore
  README.md
  pyproject.toml
  src/fedfred/_internals/_models.py
  src/fedfred/clients/fred.py
  src/fedfred/models/__init__.py
  src/fedfred/models/fred.py
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

push prog
  src/fedfred/clients/fred.py
  uv.lock
Due: mypy-local

push rich model prog
  pyproject.toml
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_converters.py
  src/fedfred/_internals/_models.py
  src/fedfred/clients/fred.py
  src/fedfred/models/fred.py
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

_Sequence extraction for _models.py
  src/fedfred/_internals/_models.py
  src/fedfred/models/alfred.py
  src/fedfred/models/fred.py
Due: mypy-local

still need to fix docstrings and annotations
  src/fedfred/models/alfred.py
  src/fedfred/models/fred.py
Due: mypy-local

push prg
  src/fedfred/models/fred.py
Due: mypy-local

models partially cleaned
  src/fedfred/_internals/_models.py
  src/fedfred/models/fred.py
Due: mypy-local

save progress _model cleaning
  src/fedfred/_internals/_models.py
  src/fedfred/clients/fraser.py
  src/fedfred/clients/geofred.py
  src/fedfred/models/fred.py
Due: mypy-local

save progress more cleaning
  pyproject.toml
  src/fedfred/_core/_parsers.py
  src/fedfred/_core/_validators.py
  src/fedfred/_internals/_clients.py
  src/fedfred/_internals/_models.py
  src/fedfred/_internals/_transport.py
  src/fedfred/clients/fraser.py
  src/fedfred/clients/fred.py
  src/fedfred/clients/geofred.py
  src/fedfred/models/fred.py
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

save progress more cleaning
  pyproject.toml
  src/fedfred/_internals/_clients.py
  src/fedfred/_internals/_transport.py
  uv.lock
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

_endpoint resolution changed and async design cleaned
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_parameters.py
  src/fedfred/_internals/_caching.py
  src/fedfred/_internals/_rate_limit.py
  src/fedfred/_internals/_transport.py
Due: mypy-local

add path injection to transport for fraser
  src/fedfred/_core/_endpoints.py
  src/fedfred/_internals/_clients.py
  src/fedfred/_internals/_transport.py
Due: mypy-local

caching, _clients, _parameters functional
  src/fedfred/_core/_parameters.py
  src/fedfred/_internals/_caching.py
  src/fedfred/_internals/_clients.py
Due: mypy-local

_rate_limt str to service fix
  src/fedfred/_internals/_rate_limit.py
Due: mypy-local

docs progress
  assets/exported/fedfred_banner_transparent.png
  assets/exported/fedfred_favicon_transparent.ico
  assets/exported/fedfred_icon_transparent.png
  assets/exported/fedfred_social_preview_transparent.png
  assets/source/fedfred_banner_transparent.pxd
  assets/source/fedfred_icon_transparent.pxd
  assets/source/fedfred_social_preview_transparent.pxd
  docs/source/_static/custom.css
  docs/source/_static/fedfred_banner_transparent.png
  docs/source/_static/fedfred_favicon_transparent.ico
  docs/source/_static/fedfred_icon_transparent.png
  docs/source/_static/fedfred_social_preview_transparent.png
  docs/source/_static/json_ld.js
  docs/source/_static/switcher.json
  docs/source/api/index.rst
  docs/source/conf.py
  docs/source/installation/advanced_usage.rst
  docs/source/resources/notes.rst
  pyproject.toml
  uv.lock
Due: sync-conda-recipe, sync-conf-version, sync-conda-recipe-version

docs progress
  docs/source/_static/switcher.json
  docs/source/conf.py
Due: sync-conf-version

docs progress
  README.md
  docs/source/_static/json_ld.js
Due: none

workflow python version tweak
  .github/workflows/analyze.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/reports.yml
  .github/workflows/test.yml
Due: none

docs improvements started
  docs/source/_static/consent-default.js
  docs/source/_static/cookie-consent.js
  docs/source/_static/custom.css
  docs/source/conf.py
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/resources/index.rst
  docs/source/user_guide/advanced_usage.rst
  docs/source/user_guide/basic_usage.rst
  docs/source/user_guide/data_visualization.rst
  docs/source/user_guide/index.rst
  docs/source/user_guide/quickstart.rst
Due: sync-conf-version

module cleaning
  docs/source/conf.py
  src/fedfred/_internals/_clients.py
  src/fedfred/_internals/_models.py
  src/fedfred/_internals/_rate_limit.py
Due: sync-conf-version, mypy-local

module cleaning
  conda-forge/meta.yaml
  conda-recipe/meta.yaml
  src/fedfred/_internals/__init__.py
  src/fedfred/_internals/_caching.py
  src/fedfred/_internals/_models.py
  src/fedfred/_internals/_rate_limit.py
  src/fedfred/_internals/_transport.py
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

module cleaning
  .pre-commit-config.yaml
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_parameters.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_core/_validators.py
  src/fedfred/_internals/_caching.py
  src/fedfred/_internals/_clients.py
  src/fedfred/_internals/_models.py
  src/fedfred/_internals/_rate_limit.py
  src/fedfred/_internals/_transport.py
Due: mypy-local

_core overreach fixes, incomplete
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_internals/_clients.py
  src/fedfred/_internals/_models.py
  src/fedfred/clients/fred.py
  src/fedfred/models/alfred.py
  src/fedfred/models/fred.py
Due: mypy-local

internal model fixes
  src/fedfred/_core/__init__.py
  src/fedfred/_internals/__init__.py
  src/fedfred/_internals/_clients.py
  src/fedfred/_internals/_models.py
  src/fedfred/models/alfred.py
  src/fedfred/models/fred.py
Due: mypy-local

internal model fixes
  benchmarks/http_dependencies.ipynb
  scripts/sync_about_version.py
  scripts/sync_conda_forge_version.py
  scripts/sync_conda_recipe.py
  scripts/sync_conf_version.py
  src/fedfred/__init__.py
  src/fedfred/_core/__init__.py
  src/fedfred/_internals/__init__.py
  src/fedfred/_internals/_models.py
  src/fedfred/clients/__init__.py
  src/fedfred/clients/alfred.py
  src/fedfred/clients/fraser.py
  src/fedfred/clients/fred.py
  src/fedfred/clients/geofred.py
  src/fedfred/exceptions/__init__.py
  src/fedfred/exceptions/caching.py
  src/fedfred/exceptions/conversion.py
  src/fedfred/exceptions/dependencies.py
  src/fedfred/exceptions/endpoints.py
  src/fedfred/exceptions/parameters.py
  src/fedfred/exceptions/rate_limit.py
  src/fedfred/exceptions/transport.py
  src/fedfred/exceptions/validation.py
  src/fedfred/models/__init__.py
  src/fedfred/models/fraser.py
  src/fedfred/models/fred.py
  src/fedfred/models/geofred.py
  src/fedfred/settings.py
  src/fedfred/tools/converters.py
Due: mypy-local

add observation models
  src/fedfred/_internals/__init__.py
  src/fedfred/_internals/_models.py
  src/fedfred/models/alfred.py
  src/fedfred/models/fred.py
Due: mypy-local

model prog
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_converters.py
  src/fedfred/_internals/_models.py
  src/fedfred/models/alfred.py
  src/fedfred/models/fred.py
Due: mypy-local

more internal model progress
  pyproject.toml
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_internals/_models.py
  src/fedfred/integrations/__init__.py
  src/fedfred/models/alfred.py
  src/fedfred/models/fred.py
  src/fedfred/tools/_converter_mappings.py
  src/fedfred/tools/converters.py
  uv.lock
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

internal model method logic refactored to core
  src/fedfred/_core/_columns.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_dependencies.py
  src/fedfred/_core/_validators.py
  src/fedfred/_internals/_models.py
  src/fedfred/models/alfred.py
  src/fedfred/models/fred.py
Due: mypy-local

core refactors, unfinished
  src/fedfred/_core/_accessors.py
  src/fedfred/_core/_builders.py
  src/fedfred/_core/_choices.py
  src/fedfred/_core/_comparators.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_defaults.py
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_mappings.py
  src/fedfred/_core/_parameters.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_core/_resolvers.py
  src/fedfred/_core/_specs.py
  src/fedfred/_core/_urls.py
  src/fedfred/_internals/_models.py
Due: mypy-local

core refactor cleaning progress
  pyproject.toml
  src/fedfred/_core/_accessors.py
  src/fedfred/_core/_builders.py
  src/fedfred/_core/_choices.py
  src/fedfred/_core/_comparators.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_defaults.py
  src/fedfred/_core/_dependencies.py
  src/fedfred/_core/_endpoints.py
  src/fedfred/_core/_mappings.py
  src/fedfred/_core/_parameters.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_core/_preparers.py
  src/fedfred/_core/_registries.py
  src/fedfred/_core/_resolvers.py
  src/fedfred/_core/_types.py
  src/fedfred/_internals/_models.py
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

core refactor cleaning progress
  .pre-commit-config.yaml
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_loaders.py
  src/fedfred/_core/_registries.py
  src/fedfred/_core/_resolvers.py
  src/fedfred/_core/_schemas.py
  src/fedfred/_core/_specs.py
  src/fedfred/_core/_types.py
  src/fedfred/_core/_urls.py
  src/fedfred/_core/_validators.py
Due: mypy-local

core exceptions added
  src/fedfred/_core/_builders.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_loaders.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_core/_preparers.py
  src/fedfred/_core/_resolvers.py
  src/fedfred/_core/_schemas.py
  src/fedfred/_core/_specs.py
  src/fedfred/_core/_types.py
  src/fedfred/_core/_validators.py
  src/fedfred/_core/temp.py
  src/fedfred/exceptions/__init__.py
  src/fedfred/exceptions/base.py
  src/fedfred/exceptions/core/__init__.py
  src/fedfred/exceptions/core/accession.py
  src/fedfred/exceptions/core/base.py
  src/fedfred/exceptions/core/building.py
  src/fedfred/exceptions/core/comparison.py
  src/fedfred/exceptions/core/conversion.py
  src/fedfred/exceptions/core/loading.py
  src/fedfred/exceptions/core/parsing.py
  src/fedfred/exceptions/core/preparation.py
  src/fedfred/exceptions/core/resolution.py
  src/fedfred/exceptions/core/specification.py
  src/fedfred/exceptions/core/validation.py
Due: mypy-local
