Repository nikhilxsunder/fedfred: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-conda-recipe, sync-conf-version, sync-about-version, sync-conda-recipe-version, mypy-local

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^conda-forge/meta\.yaml$
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: ^conda-forge/meta\.yaml$

  - repo: https://github.com/pycqa/pylint
    rev: v3.3.5
    hooks:
      - id: pylint
        exclude: |
          (?x)^(
              docs/.*|
              tests/.*|
              scripts/.*|
              examples/.*|
              .*\.md|
              .*\.rst
          )$
        args:
          [
            "--disable=E0401,R0902,R0913,R0917,R0914,R0912,R0904,R1705,C0103,R1710,C2801,C0415,R1720,R1711,R0915,W0603,R0911",
          ]

  - repo: local
    hooks:
      - id: sync-conda-recipe
        name: Sync conda recipe from pyproject.toml
        entry: python scripts/sync_conda_recipe.py
        language: python
        additional_dependencies: ["tomli>=2.0.1"]
        files: ^(pyproject\.toml|conda-recipe/meta\.yaml)$
        pass_filenames: false
        description: "Synchronizes conda-recipe/meta.yaml with pyproject.toml"

      - id: sync-conf-version
        name: Sync conf.py release with pyproject.toml version
        entry: python scripts/sync_conf_version.py
        language: python
        files: ^docs/source/conf\.py$
        stages: [pre-commit]
        additional_dependencies: ["toml"]

      - id: sync-about-version
        name: Sync __about__.py __version__ with pyproject.toml version
        entry: python scripts/sync_about_version.py
        language: python
        files: ^src/fedfred/__about__\.py$
        stages: [pre-commit]
        additional_dependencies: ["toml"]

      - id: sync-conda-recipe-version
        name: Sync conda-recipe/meta.yaml version with pyproject.toml
        entry: python scripts/sync_conda_forge_version.py
        language: python
        files: ^(pyproject\.toml|conda-recipe/meta\.yaml)$
        pass_filenames: false
        description: "Synchronizes the version in conda-recipe/meta.yaml with pyproject.toml"
        additional_dependencies: ["tomli"]

      - id: mypy-local
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: |
          (?x)^(
              docs/.*|
              tests/.*|
              scripts/.*|
              examples/.*|
              .*\.md|
              .*\.rst|
              src/fedfred/__init__.pyi
          )$
        args:
          [
            "--ignore-missing-imports",
            "--namespace-packages",
            "--explicit-package-bases",
          ]
#      - id: tox
#        name: Run tox
#        entry: tox
#        language: system
#        pass_filenames: false
#        always_run: true

exception cleaning
  src/fedfred/exceptions/core/__init__.py
  src/fedfred/exceptions/core/base.py
  src/fedfred/exceptions/core/building.py
  src/fedfred/exceptions/core/conversion.py
  src/fedfred/exceptions/core/loading.py
  src/fedfred/exceptions/core/parsing.py
  src/fedfred/exceptions/core/preparation.py
  src/fedfred/exceptions/core/resolution.py
  src/fedfred/exceptions/core/specification.py
  src/fedfred/exceptions/core/validation.py
Due: mypy-local

internals cleaning and refactors to core
  docs/source/conf.py
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_defaults.py
  src/fedfred/_core/_mappings.py
  src/fedfred/_core/_sentinels.py
  src/fedfred/_core/_types.py
  src/fedfred/_core/temp.py
  src/fedfred/_internals/__init__.py
  src/fedfred/_internals/_caching.py
  src/fedfred/_internals/_models.py
  src/fedfred/_internals/_rate_limit.py
  src/fedfred/_internals/_transport.py
  src/fedfred/exceptions/__init__.py
  src/fedfred/exceptions/core/building.py
  src/fedfred/exceptions/core/loading.py
  src/fedfred/exceptions/core/parsing.py
  src/fedfred/exceptions/core/resolution.py
  src/fedfred/exceptions/core/specification.py
  src/fedfred/exceptions/internals/__init__.py
  src/fedfred/exceptions/internals/base.py
  src/fedfred/exceptions/internals/caching.py
  src/fedfred/exceptions/internals/rate_limit.py
  src/fedfred/exceptions/internals/transport.py
Due: sync-conf-version, mypy-local

recipe changes
  conda-recipe/meta.yaml
  src/fedfred/_core/__init__.py
  src/fedfred/_internals/_clients.py
  src/fedfred/_internals/_models.py
  src/fedfred/exceptions/__init__.py
  src/fedfred/exceptions/core/__init__.py
  src/fedfred/exceptions/core/parsing.py
  src/fedfred/exceptions/internals/__init__.py
  src/fedfred/exceptions/internals/models.py
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

recover model directory deletion
  src/fedfred/_internals/__init__.py
  src/fedfred/models/__init__.py
  src/fedfred/models/alfred.py
  src/fedfred/models/fraser.py
  src/fedfred/models/fred.py
  src/fedfred/models/geofred.py
Due: mypy-local

small annotations on internal models
  src/fedfred/_internals/_models.py
  src/fedfred/models/__init__.py
  src/fedfred/models/alfred.py
  src/fedfred/models/fraser.py
  src/fedfred/models/fred.py
  src/fedfred/models/geofred.py
Due: mypy-local

model fixes
  src/fedfred/_internals/_models.py
  src/fedfred/models/fred.py
Due: mypy-local

small fixes
  src/fedfred/clients/fraser.py
  src/fedfred/clients/geofred.py
  src/fedfred/models/fred.py
Due: mypy-local

small fixes
  src/fedfred/clients/fred.py
  src/fedfred/clients/geofred.py
  src/fedfred/models/fred.py
Due: mypy-local

deploy: 9fad8e43e5f6d37bb7d845646588a793aa071f35
  installation/data_visualization.html
Due: none

deploy: 91098c986080f4b1a7099f7e1dd0163f2a34d7c2
  api/_autosummary/fedfred.FredAPI.get_series_observations.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df_async.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_series.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pl_df_async.html
  glossary.html
  resources/api_overview.html
  resources/notes.html
Due: none

temp fixes for testing
  .gitignore
  src/fedfred/__init__.py
  src/fedfred/_core/_registries.py
  src/fedfred/_core/_resolvers.py
  src/fedfred/clients/fred.py
  src/fedfred/models/__init__.py
  src/fedfred/models/fred.py
  tests/_core_tests/_accessors_test.py
Due: mypy-local

tests
  .gitignore
  src/fedfred/__init__.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_preparers.py
  src/fedfred/_core/_resolvers.py
  src/fedfred/clients/fraser.py
  src/fedfred/clients/fred.py
  src/fedfred/clients/geofred.py
  src/fedfred/models/__init__.py
  src/fedfred/models/fred.py
  tests/_core_tests/_accessors_test.py
  tests/_core_tests/_builders_test.py
  tests/_core_tests/_comparators_test.py
  tests/_core_tests/_converters_test.py
  tests/_core_tests/_loaders_test.py
  tests/_core_tests/_parsers_test.py
  tests/_core_tests/_preparers_test.py
  tests/_core_tests/_resolvers_test.py
Due: mypy-local

tests
  .gitignore
  pyproject.toml
  src/fedfred/_core/temp.py
  src/fedfred/_internals/_caching.py
  src/fedfred/models/fred.py
  tests/_core_tests/_specs_test.py
  tests/_core_tests/_validators_test.py
  tests/_internals_tests/_caching_test.py
  tests/_internals_tests/_rate_limit_test.py
  tests/_internals_tests/_transport_test.py
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

residual changes uncommited
  pyproject.toml
  tests/_internals_tests/_clients_test.py
  tests/_internals_tests/_models_test.py
  tests/_internals_tests/_rate_limit_test.py
Due: sync-conda-recipe, sync-conda-recipe-version

general fixes
  benchmarks/cache_dependencies.ipynb
  benchmarks/http_dependencies.ipynb
  src/fedfred/_core/__init__.py
  src/fedfred/_core/_accessors.py
  src/fedfred/_core/_builders.py
  src/fedfred/_core/_choices.py
  src/fedfred/_core/_comparators.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_defaults.py
  src/fedfred/_core/_mappings.py
  src/fedfred/_core/_mutators.py
  src/fedfred/_core/_registries.py
  src/fedfred/_core/_resolvers.py
  src/fedfred/_core/_sentinels.py
  src/fedfred/_core/_specs.py
  src/fedfred/_core/_types.py
  src/fedfred/_core/_validators.py
  src/fedfred/_internals/_clients.py
  src/fedfred/_internals/_models.py
  src/fedfred/_internals/_rate_limit.py
  src/fedfred/_internals/_transport.py
  src/fedfred/exceptions/alfred.py
  src/fedfred/exceptions/base.py
  src/fedfred/exceptions/fraser.py
  src/fedfred/exceptions/fred.py
  src/fedfred/exceptions/geofred.py
  src/fedfred/exceptions/internals/clients.py
  src/fedfred/settings.py
Due: mypy-local

general fixes
  src/fedfred/_core/_defaults.py
  src/fedfred/_core/_registries.py
  src/fedfred/_core/_resolvers.py
  src/fedfred/_core/_types.py
  src/fedfred/_core/_validators.py
Due: mypy-local

settings decomposed and needs to be rebuilt
  src/fedfred/_core/_mutators.py
  src/fedfred/_core/_resolvers.py
  src/fedfred/_core/_specs.py
  src/fedfred/_core/_validators.py
  src/fedfred/_internals/_caching.py
  tests/_core_tests/_accessors_test.py
  tests/_core_tests/_builders_test.py
  tests/_core_tests/_comparators_test.py
  tests/_core_tests/_converters_test.py
  tests/_core_tests/_specs_test.py
  tests/_core_tests/_validators_test.py
Due: mypy-local

refactor prog
  src/fedfred/_core/_accessors.py
  src/fedfred/_core/_mutators.py
  tests/_core_tests/_accessors_test.py
Due: mypy-local

deploy: 77d633077fc89a679b00c5d90ed95823d46b82c7
  api/_autosummary/fedfred.FredAPI.get_series_observations.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_df_async.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pd_series.html
  api/_autosummary/fedfred.helpers.FredHelpers.to_pl_df_async.html
  glossary.html
  installation/data_visualization.html
  resources/api_overview.html
  resources/notes.html
Due: none

some changes
  src/fedfred/_core/_accessors.py
  src/fedfred/_core/_mutators.py
  src/fedfred/_core/_resolvers.py
  tests/_core_tests/_accessors_test.py
  tests/_core_tests/_mutators_test.py
Due: mypy-local

core docstrings
  src/fedfred/_core/_accessors.py
  src/fedfred/_core/_builders.py
  src/fedfred/_core/_choices.py
  src/fedfred/_core/_comparators.py
  src/fedfred/_core/_converters.py
  src/fedfred/_core/_defaults.py
  src/fedfred/_core/_loaders.py
  src/fedfred/_core/_mappings.py
  src/fedfred/_core/_mutators.py
  src/fedfred/_core/_parsers.py
  src/fedfred/_core/_validators.py
Due: mypy-local

core docstrings
  src/fedfred/_core/_choices.py
  src/fedfred/_core/_preparers.py
  src/fedfred/_core/_registries.py
  src/fedfred/_core/_resolvers.py
  src/fedfred/_core/_schemas.py
  src/fedfred/_core/_sentinels.py
  src/fedfred/_core/_specs.py
  src/fedfred/_core/_types.py
  src/fedfred/_core/_urls.py
  src/fedfred/_core/_validators.py
  src/fedfred/exceptions/__init__.py
  src/fedfred/exceptions/core/__init__.py
  src/fedfred/exceptions/core/resolution.py
  tests/_core_tests/_mutators_test.py
Due: mypy-local

update tests unfinished
  tests/_core_tests/_accessors_test.py
  tests/_core_tests/_mutators_test.py
  tests/_core_tests/_resolvers_test.py
  uv.lock
Due: none

update tests core covered
  tests/_core_tests/_resolvers_test.py
  tests/_core_tests/_validators_test.py
Due: none

update tests core covered
  pyproject.toml
  src/fedfred/_core/__init__.py
  src/fedfred/_internals/_models.py
  src/fedfred/clients/__init__.py
  src/fedfred/models/fred.py
  tests/clients_tests/fred_test.py
  uv.lock
Due: sync-conda-recipe, sync-conda-recipe-version, mypy-local

model logic fixes and layer leakage fix
  src/fedfred/_core/__init__.py
  src/fedfred/_internals/_models.py
  src/fedfred/models/fred.py
Due: mypy-local

Add files via upload
  fedfred_banner.png
  fedfred_banner.pxd
  fedfred_banner_transparent.png
  fedfred_banner_transparent.pxd
  fedfred_favicon.ico
  fedfred_favicon_transparent.ico
  fedfred_icon.pxd
  fedfred_icon_transparent.png
  fedfred_icon_transparent.pxd
  fedfred_logo.png
  fedfred_social_preview.png
  fedfred_social_preview.pxd
  fedfred_social_preview_transparent.png
  fedfred_social_preview_transparent.pxd
Due: none

Rename fedfred_banner.png to assets/exported/fedfred_banner.png
  assets/exported/fedfred_banner.png
Due: none

Rename fedfred_banner_transparent.png to assets/exported/fedfred_banner_transparent.png
  assets/exported/fedfred_banner_transparent.png
Due: none

Rename fedfred_favicon.ico to assets/exported/fedfred_favicon.ico
  assets/exported/fedfred_favicon.ico
Due: none

Rename fedfred_favicon_transparent.ico to assets/exported/fedfred_favicon_transparent.ico
  assets/exported/fedfred_favicon_transparent.ico
Due: none

Rename fedfred_icon_transparent.png to assets/exported/fedfred_icon_transparent.png
  assets/exported/fedfred_icon_transparent.png
Due: none

Rename fedfred_logo.png to assets/exported/fedfred_logo.png
  assets/exported/fedfred_logo.png
Due: none

Rename fedfred_social_preview.png to assets/exported/fedfred_social_preview.png
  assets/exported/fedfred_social_preview.png
Due: none

Rename fedfred_social_preview_transparent.png to assets/exported/fedfred_social_preview_transparent.png
  assets/exported/fedfred_social_preview_transparent.png
Due: none

Rename fedfred_banner.pxd to assets/source/fedfred_banner.pxd
  assets/source/fedfred_banner.pxd
Due: none

Rename fedfred_banner_transparent.pxd to assets/source/fedfred_banner_transparent.pxd
  assets/source/fedfred_banner_transparent.pxd
Due: none

Rename fedfred_icon.pxd to assets/source/fedfred_icon.pxd
  assets/source/fedfred_icon.pxd
Due: none

Rename fedfred_icon_transparent.pxd to assets/source/fedfred_icon_transparent.pxd
  assets/source/fedfred_icon_transparent.pxd
Due: none

Rename fedfred_social_preview.pxd to assets/source/fedfred_social_preview.pxd
  assets/source/fedfred_social_preview.pxd
Due: none
